---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

//========== Ryan's Variable Customizations START ==========

@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

// https://github.com/mmistakes/minimal-mistakes/discussions/1352#discussioncomment-2074482

$serif: Rajdhani, Georgia, Times, serif !default;
$sans-serif: Ubuntu, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: "Roboto Mono", "Envy Code R", Consolas, "Courier New", monospace !default;

$global-font-family: $sans-serif !default;
$header-font-family: $serif !default;
$caption-font-family: $serif !default;

//========== Ryan's Variable Customizations END ==========

@import "minimal-mistakes"; // main partials

//========== Ryan's CSS Customizations START ==========

.archive__subtitle {
    font-size: 1.25em !important;
}

.archive__item-title {
    font-size: 1em !important;
    font-family: $serif;
}

.archive__item-excerpt {
    font-size: 0.7em !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
}

.page__content {
    p,
    li,
    dl {
        font-size: 0.7em;
    }
}

.notice {
    font-size: 0.6em !important;
}

.notice--danger {
    font-size: 0.6em !important;
}

.notice--info {
    font-size: 0.6em !important;
}

.notice--primary {
    font-size: 0.6em !important;
}

.notice--success {
    font-size: 0.6em !important;
}

.notice--warning {
    font-size: 0.6em !important;
}

div.highlighter-rouge, figure.highlight {
    font-size: 0.6em !important;
}

//========== Ryan's CSS Customizations END ==========
