---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//========== Ryan's Customizations START ==========

@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.masthead__inner-wrap {
    font-family: "Ubuntu", sans-serif;
}

.site-title {
    font-family: "Rajdhani", sans-serif;
}

.site-subtitle {
    font-family: "Ubuntu", sans-serif;
}

// reduce the size of regular text in our posts a bit
.page__content {
	font-size: 0.75em;
}

.author__name {
    font-family: "Rajdhani", sans-serif;
}

body {
    font-family: "Ubuntu", sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Rajdhani", serif;
  font-weight: bold;
}

//========== Ryan's Customizations END ==========